<p id="notice"><%= notice %></p>

<h1>顧客情報一覧</h1>

<table>
  <thead>
    <tr>
      <th>会社名</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>Tel</th>
      <th>担当者名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.company_name %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.address %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.responsible_name %></td>
        <td><%= link_to '参照', customer %></td>
        <td><%= link_to '編集', edit_customer_path(customer) %></td>
        <td><%= link_to '削除', customer, method: :delete, data: { confirm: '本当に良いですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規顧客登録', new_customer_path %>
